# Fichiers et dossiers spécifiques à Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
ENV/

# Fichiers de distribution / packaging
*.egg-info/
dist/
build/
eggs/
.eggs/

# Fichiers de log Scrapy
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE et d'éditeur
.idea/
.vscode/
*.swp
*.swo

# Fichiers de base de données
*.db
*.sqlite3

# Dossiers spécifiques au projet (à adapter selon votre structure)
lib/
bin/
include/

.env
var/