fastapi
uvicorn
asyncpg
SQLAlchemy
click
greenlet
h11
pydantic
starlette
anyio
typing_extensions
idna
sniffio
openai
langchain
langchain-openai
langserve[all]
langchainhub
bs4
colorama
chromadb
python-dateutil
python-dotenv
requests
streamlit
streamlit-chat
tiktoken